.bg {
	background: linear-gradient(
			rgba(255, 255, 255, 0.9),
			rgba(253, 254, 254, 0.9)
		),
		url("../../../../public/assets/images/chair.png") no-repeat;
	background-position: center;
	background-size: 100% 100%;
}
